:root {
  --light: 236, 236, 236; /* #ECECEC */
  --orange: 242, 163, 101; /* #F2A365 */
  --blue: 48, 71, 94; /* #30475E */
  --dark: 34, 40, 49; /* #222831 */
  --background: var(--light);
  --border: var(--dark);
  --color: var(--dark);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--color));
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --border: var(--light);
    --color: var(--light);
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  background-color: rgb(var(--dark));
  border-bottom: .0625rem solid rgba(var(--border), .1);
  color: rgb(var(--light));
  padding: 1rem 0;
}

.header__container {
  display: flex;
}

.header__title {
  font-size: 1rem;
  margin: 0;
}

.header__nav {
  margin-left: auto;
}

.header__link {
  color: currentColor;
}
