:root {
  --raisinBlack: 39, 40, 43; /* #27282b */
  --onyx: 58, 60, 64; /* #3a3c40 */
  --gainsboro: 223, 224, 226; /* #dfe0e2 */
  --cultured: 244, 245, 245; /* #f4f5f5 */
  --white: 255, 255, 255; /* #ffffff */
  --congoPink: 238, 142, 129; /* #ee8e81 */
  --internationalOrangeEngineering: 180, 43, 24; /* #b42b18 */
  --background: var(--white);
  --border: var(--gainsboro);
  --color: var(--raisinBlack);
  --focus: var(--internationalOrangeEngineering);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--color));
  font-family: serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--raisinBlack);
    --border: var(--onyx);
    --color: var(--cultured);
    --focus: var(--congoPink);
  }
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  border-bottom: .0625rem solid rgb(var(--border));
  padding: 1rem 0;
}

.header__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.header__item {
  display: inline;
  margin: 0 .5rem;
}

.header__link {
  color: currentColor;
  font-size: 1.125rem;
}

.header__link:focus {
  color: rgba(var(--focus));
}

.intro {
  column-gap: 2rem;
  margin: 4rem 0;
}

.intro__title, .intro__lead {
  margin: 0;
  text-align: center;
}

.intro__title {
  grid-area: title;
}

.intro__lead {
  grid-area: lead;
  margin-bottom: 1rem;
}

.intro__text {
  column-count: 2;
  column-gap: 2rem;
  column-rule: .0625rem solid rgb(var(--border));
  column-width: 30ch;
  grid-area: text;
  margin: 0;
}

.intro__text p {
  margin: 0 0 .75em;
}

@media screen and (min-width: 40em) {
  .intro {
    display: grid;
    grid-template-areas:
      "title title title title title title"
      "lead lead lead lead lead lead"
      ". text text text text .";
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .intro {
    grid-template-areas:
      "title title . . . ."
      "lead lead text text text text"
      ". . text text text text";
  }

  .intro__title, .intro__lead {
    text-align: right;
  }
}

@media screen and (min-width: 80em) {
  html {
    font-size: 1.125rem;
  }

  .intro {
    grid-template-areas:
      ". title title . . . . ."
      ". lead lead text text text text ."
      ". . . text text text text .";
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: 1.25rem;
  }
}
