<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}—Zsolt Pentz</title>
    <meta charset="utf-8">
    <meta name="author" content="Zsolt Pentz">
    <meta name="description" content="{{ description }}">
    <meta name="theme-color" content="#3a3c40">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <nav>
          <ul class="header__list">
            {%- for item in collections.menuitem -%}
              <li{% if page.url == item.url %} aria-current="page"{% endif %} class="header__item">
                <a class="header__link" href="{{ item.url }}">{{ item.data.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      </header>
    </div>
    <main class="container">
      {{ content }}
    </main>
  </body>
</html>
