---
import { Picture } from 'astro:assets';
import myImage from '../assets/portrait.jpg';
import LinkButton from '../components/LinkButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Website of Zsolt Pentz">
  <main>
    <Picture alt="A portrait of Zsolt Pentz." densities={[1.5, 2]} pictureAttributes={{ 'aria-hidden': true, class: 'portrait' }} src={myImage} width="160" />
    <p class="greeting">Hi, I'm <span class="name" lang="hu">Zsolt</span> (pronounced <a href="https://en.wikipedia.org/wiki/Voiced_postalveolar_fricative" hreflang="en" referrerpolicy="no-referrer">ки</a>olt).</p>
    <p class="hero">I build digital experiences <br>on the web.</p>
    <p class="introduction">I am a product-minded user interface engineer with an attention to detail, ready to go the extra mile to deliver a sublime user experience. I am also a son, a boyfriend, a drummer, an animal lover, and a university student.</p>
    <LinkButton class="callToAction" href="https://www.linkedin.com/in/pentzzsolt/" hreflang="en" referrerpolicy="no-referrer" size="lg">
      Send Zsolt a message
    </LinkButton>
  </main>
</Layout>

<style>
  .portrait img {
    border-radius: 100%;
    display: block;
    margin: 0 auto 1rem;
  }
  @media screen {
    main {
      margin: 0 auto;
      max-width: 64rem;
      padding-block: 3rem;
      text-align: center;
    }
    .hero {
      font-size: clamp(3rem, 5vw, 5rem);
      font-weight: 700;
      line-height: 1.125;
      margin: .375em 0;
    }
    .greeting {
      font-size: 1.5rem;
      margin: 0;
    }
    .introduction {
      font-size: 1.25rem;
      margin: 0 auto 3rem;
      max-width: 64ch;
    }
  }
  @media print {
    br {
      display: none;
    }
    .portrait {
      display: none;
    }
    .callToAction {
      display: none;
    }
  }
</style>
